* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

.bg-light {
    background-color: #ececec !important;
}

.text-default {
    color: #385b63 !important;
}

.text-red {
    color: #E30614 !important;
}

.text-white {
    color: white !important;
}

.text-gray {
    color: #3F3F3F !important;
}

.font-weight-400 {
    font-weight: 400;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-600 {
    font-weight: 600;
}

.font-weight-700 {
    font-weight: 700;
}

/* Start Curtain Opening */
.curtain {
    position: fixed;
    top: 0;
    width: 50%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    z-index: 9999;
    animation: openCurtain 2.5s ease-in-out forwards;
}

#curtain-left {
    left: 0;
    background-image: url("https://on-c2-cmshub-public.s3.ap-southeast-3.amazonaws.com/curtain_left_rev_90af9c2622.png");
    transform-origin: left;
}

#curtain-right {
    right: 0;
    background-image: url("https://on-c2-cmshub-public.s3.ap-southeast-3.amazonaws.com/curtain_right_rev_5d5f2c8b06.png");
    transform-origin: right;
}

@keyframes openCurtain {
    0% {
        transform: scaleX(1);
    }

    100% {
        transform: scaleX(0);
    }
}

/* End Curtain Opening */

/* Start Navbar */
.navbar-light .navbar-nav .nav-link {
    color: #385b63;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    color: #E30614;
}

.social a:hover {
    transform: translateY(-0.15rem);
}

.networking {
    padding: 100px 0;
}

.social a:hover .twitter {
    color: #1da1f2;
}

.social a:hover .dribbble {
    color: #be205f;
}

.social a:hover .facebook {
    color: #1877f2;
}

.social a:hover .instagram {
    color: #ca2e86;
}

.btn-primary {
    color: #000;
    background-color: #E30614 !important;
    border-color: #E30614 !important;
}

.nav-item a {
    margin: 0 6px;
}

.nav-link::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #000000e6;
    transition: width 0.3s;
}

.nav-link:hover::after {
    width: 100%;
}

.nav-link.social-icon::after {
    content: none;
}

/* End Navbar */

/* Start Hero */
#hero-section {
    background: url("https://on-c2-cmshub-public.s3.ap-southeast-3.amazonaws.com/hero_section_bg_2d44782d87.png");
    background-attachment: fixed;
    background-position: 75% 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-img-mobile {
    display: none;
}

.heading {
    font-size: 45px;
    font-weight: 700;
}

.btn-primary:hover,
.btn-primary:focus {
    color: #fff;
    background-color: #2d454f;
    border-color: #2d454f;
}

.btn-custom-red {
    background-color: #E30614;
    color: white;
    font-weight: 600;
    border-radius: 12px;
    padding: 12px 24px;
    text-decoration: none;
}

.btn-custom-blue {
    background-color: #0172C0;
    color: white;
    font-weight: 600;
    border-radius: 12px;
    padding: 12px 24px;
    text-decoration: none;
}

@media screen and (max-width: 992px) {
    .networking {
        text-align: center;
        padding: 50px 0;
    }

    .row.mobile-center {
        justify-content: center;
    }

    .hero-img-mobile {
        display: block;
    }

    #hero-section {
        background: none;
    }
}

/* End Hero */

/* Start Agenda */
#agenda-section {
    background-color: #67D4E0;
    padding: 50px 20px;
}

#agenda-section p {
    font-size: 20px;
}

.text-highlight-red {
    font-size: 28px;
    font-weight: 600;
}

#schedule {
    background-color: #0172C0;
    max-width: 600px;
    margin: auto;
    border-radius: 20px;
    padding: 30px 20px;
    text-align: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#schedule .row {
    display: flex;
    align-items: center;
}

.schedule-first-col {
    border-right: 1px solid white;
}

/* End Agenda */

/* Start Site Footer */
.site-footer-section {
    padding: 20px 20px 0 20px;
    background-color: rgb(238, 238, 238);
}

.site-footer-section p {
    margin: 0 !important;
}

.site-footer-grid {
    display: grid;
    grid-template-columns: 150px 125px 175px 1fr 150px;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
}

#footer-1-img {
    width: 150px;
}

#footer-2-img {
    width: 125px;
}

#footer-3-img {
    width: 175px;
}

.site-footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.site-footer-content:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-icon-flex {
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    margin: 8px 0;
}

.footer-icon-flex img {
    width: 24px;
}

.site-footer-content p {
    text-align: start;
    font-size: 14px;
    color: black;
}

@media screen and (max-width: 768px) {
    .site-footer-section {
        padding: 30px 20px 30px 20px;
    }

    .site-footer-grid {
        grid-template-columns: 1fr;
    }

    .site-footer-content {
        text-align: center;
    }

    .site-footer-content p {
        text-align: center;
    }
}

/* End Site Footer */

/* Start Back to Top */
#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #d32f2f;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background-color 0.3s ease;
    z-index: 1000;
}

#back-to-top:hover {
    background-color: #b71c1c;
    transform: scale(1.1);
}

#back-to-top i {
    font-size: 20px;
}

@media screen and (max-width: 750px) {
    #back-to-top {
        width: 40px;
        height: 40px;
    }
}

/* End Back to Top */