* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Geomanist", sans-serif;
}

body {
    overflow-x: hidden;
}

.bg-light {
    background-color: #ececec !important;
}

.text-default {
    color: #385b63 !important;
}

.text-red {
    color: #e30614 !important;
}

.text-white {
    color: white !important;
}

.text-gray {
    color: #3f3f3f !important;
}

.font-weight-400 {
    font-weight: 400;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-600 {
    font-weight: 600;
}

.font-weight-700 {
    font-weight: 700;
}

.text-wrapper-red {
    background-color: #ed1c25;
    color: white;
    font-weight: bold;
    max-width: 600px;
    margin: auto;
    padding: 10px 5px;
    border-radius: 10px;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.18);
}

.heading h2 {
    text-align: center;
    text-shadow: 0px 0px 0px rgba(221, 221, 221, 0.15),
        0px 4px 10px rgba(214, 214, 214, 0.15),
        0px 17px 17px rgba(228, 228, 228, 0.13), 0px 39px 24px rgba(0, 0, 0, 0.08),
        0px 70px 28px rgba(0, 0, 0, 0.02), 0px 109px 31px rgba(0, 0, 0, 0);
    color: #e30614;
    font-family: "Nunito", sans-serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -1.6px;
    animation: floatUpDown 2s ease-in-out infinite;
}

.heading h3 {
    text-align: center;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15), 0px 4px 10px rgba(0, 0, 0, 0.15),
        0px 17px 17px rgba(0, 0, 0, 0.13), 0px 39px 24px rgba(0, 0, 0, 0.08),
        0px 70px 28px rgba(0, 0, 0, 0.02), 0px 109px 31px rgba(0, 0, 0, 0);
    color: #494949;
    font-family: "Nunito", sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -1.6px;
}

.small-heading-text {
    font-size: 35px;
}

.big-sub-heading-text {
    font-size: 20px;
}

.text-highlight-red {
    font-size: 28px;
    font-weight: 600;
    animation: floatUpDown 2s ease-in-out infinite;
    color: #e30614;
}

@media screen and (max-width: 768px) {
    .heading h2 {
        font-size: 30px;
    }

    .heading h3 {
        font-size: 20px;
    }

    .text-highlight-red {
        font-size: 18px;
    }
}

@keyframes floatUpDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-8px);
    }

    100% {
        transform: translateY(0);
    }
}

.general-heading {
    margin-bottom: 30px;
    max-width: 800px;
    margin: auto;
}

.no-desktop {
    display: none;
}

@media screen and (max-width: 768px) {
    .no-mob {
        display: none;
    }

    .no-desktop {
        display: block;
    }
}

/* Start Hero Section 2 */
#hero-section-2 {
    background-image: url("https://on-c2-cmshub-public.s3.ap-southeast-3.amazonaws.com/hero_section_bg_ec8259b438.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 50px 0;
}

#hero-section-2 .container {
    max-width: 750px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#hero-section-2 #logo-ocbc {
    margin-bottom: 20px;
}

#hero-section-2 #logo-nyala-fest {
    margin-bottom: 20px;
}

#hero-section-2 .schedule-2 {
    width: 450px;
}

#hero-section-2 .schedule-2 h2 {
    color: rgb(73, 73, 73);
}

.schedule-2 .schedule-2-first-col {
    border-right: 2px solid gray;
    padding-right: 20px;
}

.schedule-2 .schedule-2-second-col {
    padding-left: 20px;
}

.container-subheading {
    max-width: 630px;
}

.btn-custom-red {
    background-color: #e30614;
    color: white;
    font-weight: 600;
    border-radius: 12px;
    padding: 12px 24px;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-custom-blue {
    background-color: #0172c0;
    color: white;
    font-weight: 600;
    border-radius: 12px;
    padding: 12px 24px;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-custom-red:hover,
.btn-custom-blue:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 768px) {
    #hero-section-2 .schedule-2 {
        width: 100%;
    }
}

/* End Hero */

/* Start Event */
#event {
    background: url("https://on-c2-cmshub-public.s3.ap-southeast-3.amazonaws.com/bg_event_3f7c7a1fd6.png");
    background-size: cover;
    padding: 50px 0;
}

.card {
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.18);
    background-color: white !important;
    color: rgb(88, 88, 88);
    border-radius: 30px;
    min-height: 310px;
    border: 0;
}

.img-horizontal-card {
    width: 100%;
    overflow: hidden;
    border-radius: 30px 0 0 30px;
}

#event .card-title {
    font-size: 30px;
    font-weight: 600;
    color: #c50000;
}

.btn-card-red {
    background-color: #c50000 !important;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    color: white;
    display: inline-block;
}

.col-md-6 {
    display: flex;
    align-items: center;
}

.card img {
    width: 100%;
    margin: auto;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
    background-image: none !important;
}

.swiper-pagination-bullet {
    background: #c50000 !important;
    opacity: 0.4;
}

.swiper-pagination-bullet-active {
    background: #c50000 !important;
    opacity: 1;
}

/* End Event */

/* Start Carousel */
#carousel-section {
    background-color: #01b5f7;
    padding: 40px 0;
}

#carousel-section .col {
    display: flex;
    justify-content: center;
}

.toy-card {
    width: 350px;
    height: auto;
    border-radius: 20px !important;
    border: none;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background: #fafafa;
    margin-bottom: 20px;
}

.toy-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.toy-card .card-body {
    background: linear-gradient(to right, #0172bf, #3ca3f7);
    color: white;
    padding: 16px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0;
}

.toy-card .card-body h5 {
    font-weight: 600;
    font-size: 24px;
}

.toy-card .card-body p {
    min-height: 100px;
}

.toy-card .author-info {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
}

.toy-card .author-info img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 8px;
}

.toy-card .bottom-row {
    margin-top: 10px;
    background-color: red;
    border-radius: 10px;
    padding: 5px 10px;
    border: 2px solid white;
    width: fit-content;
}

.toy-card .button-link {
    color: red;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.toy-card .button-link:hover {
    text-decoration: underline;
}

.swiper-button-next,
.swiper-button-prev {
    background-color: #e30613;
    border-radius: 50% !important;
    width: 40px !important;
    height: 40px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white !important;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 16px !important;
    font-weight: bold;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: #83d9e2;
}

/* End Carousel */

/* Start Speaker */
#speaker-section {
    background: url("https://on-c2-cmshub-public.s3.ap-southeast-3.amazonaws.com/bg_speaker_3f3979d7f0.png");
    background-size: cover;
    background-position: center center;
    padding: 100px 0 30px 0;
}

.box {
    color: white;
    border-radius: 70px;
    position: relative;
    overflow: hidden;
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.box .speaker-cta {
    background-color: #0172c0;
    border: 2px solid white;
    padding: 7px 10px;
}

.box {
    transition: transform 0.8s ease-in-out;
}

.box.up {
    transform: translateY(-10px);
}

.main-speaker-1 {
    background-color: #cecece;
    border: 3px solid rgb(192, 192, 192);
}

.main-speaker-2 {
    background-color: #cecece;
    border: 3px solid rgb(192, 192, 192);
}

.main-speaker-3 {
    background-color: #cecece;
    border: 3px solid rgb(192, 192, 192);
}

.box:hover:before {
    width: 100%;
}

.box:hover .image-wrapper {
    padding: 0;
}

.image-wrapper {
    position: relative;
    max-width: 210px;
    max-height: 210px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
    padding: 15px;
    transition: all 0.5s ease;
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.image-wrapper img {
    border-radius: 50%;
    transition: all 500ms ease;
}

.box-desc {
    position: relative;
}

.box-desc h5 {
    color: black;
    font-weight: 600;
}

ul.social {
    padding: 0;
}

ul.social li {
    display: inline-block;
    list-style-type: none;
}

ul.social li a {
    position: relative;
    width: 36px;
    height: 36px;
    background-image: linear-gradient(to right, #3c70a4 0%, #64b2cd 100%);
    display: inline-block;
    line-height: 36px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease;
}

/* End Speaker */

/* Start Speaker Additional */
.section-team {
    background: url("https://on-c2-cmshub-public.s3.ap-southeast-3.amazonaws.com/bg_speaker_3f3979d7f0.png");
    background-size: contain;
    padding: 0 0 50px 0;
}

.section-team .header-section {
    margin-bottom: 50px;
}

.section-team .header-section .small-title {
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: 500;
}

.section-team .header-section .title {
    font-weight: 700;
    font-size: 45 px;
}

.section-team .single-person {
    margin-bottom: 10px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    background-color: #ed1c25;
    border: 3px solid #ffff00;
    cursor: pointer;
}

/* .section-team .workshop {
  background-color: #0172c0;
}

.section-team .travel {
  background-color: #e30614;
}

.section-team .financial {
  background-color: #ff4aff;
} */

.section-team .master-class {
    background-color: #ffc400;
}

.section-team .single-person .person-image {
    position: relative;
    border-radius: 50%;
    border: 4px dashed transparent;
    transition: padding 0.3s;
}

.section-team .single-person:hover .person-image {
    padding: 12px;
    border: 4px dashed rgb(211, 211, 211);
}

.section-team .single-person .person-image img {
    width: 100%;
    border-radius: 50%;
}

.section-team .single-person .person-image .icon {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: linear-gradient(to right, #016cec, #00b5f7);
    color: #fff;
    border-radius: 50%;
    font-size: 24px;
}

.min-height-smaller {
    min-height: 150px;
}

.min-height-small {
    min-height: 120px;
}

.section-team .single-person .person-info .full-name {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
    color: white;
}

.section-team .single-person .person-info .speciality {
    font-size: 16px;
    color: white;
}

.speaker-cta {
    padding: 3px 10px;
    color: white;
    background-color: #0172c0;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 14px;
    box-shadow: 0px 3px 6px rgba(187, 187, 187, 0.3);
}

#speakerModal .modal-content {
    background: linear-gradient(to right, #dadada, #f5f5f5);
    border: 5px solid #a5a5a5;
    color: black;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

#speakerModal img {
    border: 5px solid #fff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
}

/* End Speaker Additional */

/* Start Table */
#table-section {
    background: url("https://on-c2-cmshub-public.s3.ap-southeast-3.amazonaws.com/bg_classes_schedule_71582dbdd9.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 50px 0;
}

/* End Table */

/* Start Travel Fair */
#timeline-section {
    background: url("https://on-c2-cmshub-public.s3.ap-southeast-3.amazonaws.com/bg_travel_fair_fc9a2018a3.png");
    background-size: contain;
    padding: 50px 0;
}

#timeline-section .container {
    max-width: 1100px;
}

#timeline-section .heading h2 {
    color: rgb(73, 73, 73);
}

.wrapper-box-red {
    background-color: #dc2626;
    padding: 20px;
    border-radius: 10px;
}

.wrapper-box-gray {
    background-color: #ececec;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.wrapper-text {
    margin-left: 10px;
}

.wrapper-box-gray h5 {
    font-size: 28px;
}

.wrapper-box-gray p {
    font-size: 20px;
}

.wrapper-box-gray p {
    margin-bottom: 0;
}

.wrapper-box-gray img {
    flex-shrink: 0;
}

@media screen and (max-width: 768px) {
    .wrapper-box-gray {
        flex-direction: column;
    }
}

/* End Travel Fair */

/* Start Child Activity */
#children-activity {
    background: url("https://on-c2-cmshub-public.s3.ap-southeast-3.amazonaws.com/bg_children_2987536b5d.png");
    background-size: cover;
    padding: 50px 0;
}

#children-activity img {
    width: 100%;
}

.children-text-wrapper {
    background: linear-gradient(to right, #0172bf, #3ca3f7);
    color: white;
    padding: 10px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 140px;
}

.children-text-wrapper h5 {
    font-size: 20px !important;
}

.children-text-wrapper h4 {
    font-size: 18px !important;
}

/* End Child Activity */

/* Start Music Performance */
#music-performance {
    background: url("https://on-c2-cmshub-public.s3.ap-southeast-3.amazonaws.com/bg_music_performance_d45d06e8cc.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0;
}

/* End Music Performance */

/* Start Mini Bazaar */
#mini-bazaar {
    background: url("https://on-c2-cmshub-public.s3.ap-southeast-3.amazonaws.com/bg_music_performance_d45d06e8cc.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0;
}

.max-width-desc-bazaar {
    max-width: 1050px;
    margin: auto !important;
}

.max-width-desc-bazaar h2 {
    color: #d93600;
    font-size: 60px;
    font-weight: 700;
    font-family: Arial, sans-serif;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
        1px 1px 0 black;
}

.max-width-desc-bazaar h4 {
    color: #000;
    font-size: 28px;
    font-weight: 700;
    font-family: Arial, sans-serif;
}

.logo-partner-container {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 20px;
    width: fit-content;
    margin: auto;
}

/* End Mini Bazaar */

/* Start Cuan */
#cuan-section {
    background: url("https://on-c2-cmshub-public.s3.ap-southeast-3.amazonaws.com/bg_children_2987536b5d.png");
    background-size: contain;
    background-position: center center;
    padding: 50px 0;
}

#cuan-section .heading h2 {
    color: rgb(73, 73, 73);
    font-size: 35px;
}

#cuan-section .heading h3 {
    font-size: 28px;
}

#cuan-section p {
    font-size: 18px;
}

#cuan-section .row {
    box-shadow: 0 10px 20px rgba(121, 121, 121, 0.3);
    border-radius: 10px;
}

#cuan-section .col {
    background-color: rgb(253, 253, 253);
    padding: 20px;
    border: 5px solid #fd9f9f;
    border-top: none;
    border-left: none;
}

.number-box {
    position: absolute;
    top: 0;
    left: 0;
    background: #0172bf;
    color: white;
    font-weight: bold;
    padding: 7px 13px;
    border-bottom-right-radius: 5px;
}

/* End Cuan */

/* Start Logo Sponsor */
#logo-partner {
    background: url("https://on-c2-cmshub-public.s3.ap-southeast-3.amazonaws.com/bg_music_performance_d45d06e8cc.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0;
}

.logo-img-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    width: fit-content;
    margin: auto;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    position: relative;
    max-width: 900px;
    background-color: white;
}

.logo-img-container img {
    width: 100%;
}

@media screen and (max-width: 468px) {
    #logo-partner {
        background: none;
    }
}

/* End Logo Sponsor */

/* Start Timeline Section  */
#timeline-section {
    padding: 60px 0;
    background-color: #c1111f;
}

.contents {
    position: relative;
    display: flex;
    border: 5px solid rgb(213, 213, 213);
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    background-color: white;
}

.left_content {
    width: 40%;
    background-image: url("https://on-c2-cmshub-public.s3.ap-southeast-3.amazonaws.com/travel_fair_img_efd260f72f.png");
    background-size: cover;
    background-position: center center;
    color: #fff;
}

#img-travel-fair {
    width: 100%;
    height: 1500px;
    object-fit: cover;
}

.cc-feature-img {
    width: 120px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.cc-feature-img:hover {
    transform: scale(1.1);
}

.sticky_wrap h2 {
    line-height: 120%;
    font-size: 35px;
}

.right_content {
    position: relative;
    width: 60%;
    padding: 32px;
    background-color: #ed1b24;
}

#vertical-line {
    min-height: 30px;
}

.timeline-heading-mobile {
    display: none;
}

.timeline-heading-mobile h2 {
    background-color: #dc2626;
    margin-bottom: 20px;
    padding: 20px;
    line-height: 110%;
    border-radius: 15px;
}

@media screen and (max-width: 650px) {
    .left_content {
        display: none;
    }

    .right_content {
        width: 90%;
        margin: 20px auto;
    }

    .contents {
        background-color: white;
    }

    .timeline-heading-mobile {
        display: block;
    }
}

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

.popup-content {
    color: rgb(36, 36, 36);
    background: #FFF3CD;
    padding: 40px;
    width: 80%;
    max-width: 600px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    animation: fadeInUp 0.3s ease;
    position: relative;
    border: 5px solid rgb(223, 223, 223);
}

.popup-content p,
.popup-content ul {
    margin: 0;
    font-size: 18px;
}

.popup-close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 32px;
    height: 32px;
    background-color: #e30614;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.popup-close:hover {
    background-color: #c1111f;
    transform: scale(1.1);
}

@keyframes fadeInUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* End Travel Fair */

/* Start Site Footer */
.site-footer-section {
    padding: 20px 20px 0 20px;
    background-color: rgb(238, 238, 238);
}

.site-footer-section p {
    margin: 0 !important;
}

.site-footer-grid {
    display: grid;
    grid-template-columns: 150px 125px 175px 1fr 150px;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
}

#footer-1-img {
    width: 150px;
}

#footer-2-img {
    width: 125px;
}

#footer-3-img {
    width: 175px;
}

.site-footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.site-footer-content:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-icon-flex {
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    margin: 8px 0;
}

.footer-icon-flex img {
    width: 24px;
}

.site-footer-content p {
    text-align: start;
    font-size: 14px;
    color: black;
}

@media screen and (max-width: 768px) {
    .site-footer-section {
        padding: 30px 20px 30px 20px;
    }

    .site-footer-grid {
        grid-template-columns: 1fr;
    }

    .site-footer-content {
        text-align: center;
    }

    .site-footer-content p {
        text-align: center;
    }
}

/* End Site Footer */

/* Start Floating CTA */
#floating-cta {
    background-color: white;
    position: sticky;
    bottom: 0;
    padding: 15px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    z-index: 999;
}

#floating-cta-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#floating-cta-text {
    text-align: start;
    margin: 0 !important;
}

#container-floating-img-text {
    display: flex;
    align-items: center;
    font-weight: 500;
}

#floating-cta-img {
    max-width: 65px;
    margin-right: 20px;
}

#floating-cta-text {
    margin-right: 20px;
}

#floating-cta-btn {
    background-color: #c50000;
    color: #ffffff;
    border-radius: 15px;
    height: 40px;
    font-size: 14px;
    padding: 5px;
    width: 150px;
    cursor: pointer;
    transition: all 0.3s;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(53, 53, 53, 0.2),
        0 6px 20px 0 rgba(44, 44, 44, 0.19);
}

#floating-cta-btn:hover {
    transform: translateY(-10%);
}

@media screen and (max-width: 1150px) {
    .responsive-floating-cta {
        display: none;
    }
}

@media screen and (max-width: 735px) {
    #floating-cta-text {
        text-align: start;
        font-size: 12px;
    }

    .small-floating-cta-text {
        font-size: 10px;
    }
}

/* End Floating CTA */

/* Start Back to Top */
#back-to-top {
    position: fixed;
    bottom: 90px;
    right: 20px;
    background-color: #d32f2f;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background-color 0.3s ease;
    z-index: 1000;
}

#back-to-top:hover {
    background-color: #b71c1c;
    transform: scale(1.1);
}

#back-to-top i {
    font-size: 20px;
}

@media screen and (max-width: 750px) {
    #back-to-top {
        width: 40px;
        height: 40px;
    }

    #back-to-top {
        bottom: 110px;
    }
}

/* End Back to Top */